.main{
    margin-top: 7%;
}

img, .code-image, .design-image, .profile-photo{
    border-radius: 5%;
}

.image-projet{
    height: 24.8vh;
}

@media screen and (max-width: 375px) {
    .my_title{
        margin-top: 8%;
    }
    .main{
        margin: 0;
    }
}